#news {
	@extend %clearfix;
	@include span(12);
	//background: $purple;
	
	& .container{
		@include container(75%);
	}
	
	& .news-hero{
		background: $purple;
		height: 450px;
		position: relative;
		overflow: hidden;
		& h2 {
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translateX(-50%) translateY(-50%);
			text-shadow: 1px 1px 0px #000;
		}
		& img {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			width: 100%;
		}
	}

	& .news-post-preview {
		position: relative;
		height: 225px;
		overflow: hidden;
		@include span(4);
		&:nth-child(2n+0) {
			@include span(5 at 5);
		}
		&:nth-child(3n+0) {
			@include span(3 at 10);
		}		
		& img {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);
			width: 100%;
			height: inherit;
		}
		& .news-post-title {
			position: absolute;
			bottom: 1em;
			left: 1em;
			font-size: 1.5rem;
		}
	}

	@include breakpoint(small) {
		
		& .container {
			padding: 10px;
			@include container(100%);
		}
		
		& .news-post-preview {
			height: 225px;
			margin-bottom: 1%;
			@include span(12);
			&:nth-child(2n+0) {
				@include span(12);
			}
			&:nth-child(3n+0) {
				@include span(12);
			}
		}
		
		& .news-hero{
			background: $purple;
			height: 350px;
			position: relative;
			overflow: hidden;
			& h2 {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translateX(-50%) translateY(-50%);
				text-shadow: 1px 1px 0px #000;
			}
			& img {height: inherit;}
		}

	}
}

.news-post-full {
	@include span(12);
	padding: 5% 10%;
	& img {
		display: none;
	}
	& .news-post-title {
		font-size: 3rem;
		color: $purple;
	}
}

.news-post-title {
	background: lighten($purple, 10%);
	padding: 5px;
	color: white;
	max-width: 90%;
	&:hover {
			background: darken($purple, 10%); 
	    text-decoration: none;
		}
	& a {
		color: white;
	}
}

.load-more-news {
	@include span(12);
	text-align: center;
	padding: $padding;
}