@import url(https://fonts.googleapis.com/css?family=Rubik+One|Alegreya+Sans+SC:400,800|Rubik:400,700|Open+Sans:400,700);

$fontsize: 12px;
$font: 'Open Sans';
$headingfont: 'Alegreya Sans SC';

h1, h2, h3, h4, h5, h6 {
    font-family: $headingfont;
    color: #555555;
    margin: 0 0 5px 0;
    padding: 0;
}
h1, .h1 {
    font-size: $fontsize * 3.5; 
    font-weight: normal;
    @include breakpoint(small) {
        font-size: $fontsize * 2.5; 
    }
}

h2, .h2 {
    font-size: $fontsize * 3;
    @include breakpoint(small) {
        font-size: $fontsize * 2; 
    }
}

h3, .h3 {
    @include breakpoint(small) {
        font-size: $fontsize * 1.5; 
    }
}

h4, .h4 {
    font-size: $fontsize * 1;
}

h5, .h5 {
    font-size: $fontsize * .5;
}

h6, .h6 {
    font-size: $fontsize * .5;
}

a {
    color: $purple;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {

}

a:active {
    text-decoration: none;
}

abbr[title] {
    border-bottom: 1px dotted;
}

/*
 * Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
    font-weight: bold;
    color: black;
}

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */

dfn {
    font-style: italic;
}

/*
 * Addresses styling not present in IE 8/9.
 */

mark {
    background: #ff0;
    color: black;
}

/*
 * Corrects font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1rem;
}

/*
 * Improves readability of pre-formatted text in all browsers.
 */

pre {
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

p {
  margin: 0 0 1rem 0;
}

/*
 * Sets consistent quote types.
 */

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}

/*
 * Addresses inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5rem;
}

sub {
    bottom: -0.25rem;
}

figcaption {
    padding: 5px $padding;
    margin: 0 0 4px 0;
}

time {
    font-weight: bold;
}

