#shop {
	@extend %clearfix;
	@include span(12);
	//background: $purple;
	padding: 0 0 $padding 0;
	& .container {
		padding: $padding 0 $padding 0;
		@include container(90%);
	}
	& .section-title {
		background: url(../images/sections/shop.jpeg);
		background-size: cover;
		background-position: bottom;
		height: 100px;
		line-height: 100px;
	}

	@include breakpoint(small) {
		& .container {
			padding: $padding;
			@include container(100%);
		}
	}
}

.color-select, .size-select {
	padding: $padding 0;
}


span[class^="color-"] {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin-left: 2px;
	cursor: pointer;
}

.color-gray {
	background: gray;
}

.color-red {
	background: red;
}

.color-blue {
	background: blue;
}

.color-purple {
	background: $purple;
}

.size-select {
	width: 60%;
	padding: $padding;
}

.product {
	@include span(6);
	@include container(100%);
	background: white;
	padding: 20px;
	margin-top: 20px;
	border: 2px solid #F9F9F9;
	
	&:nth-child(2n+0) {
		@include span(6 at 7);
	}
	
	& img {
		@include span(4 at 9);
	}

	@include breakpoint(small) {
		@include span(12);
		
		&:nth-child(2n+0) {
			@include span(12);
		}
		& img {
			@include span(12);
		}

		& .product-info {
			@include span(12);
			@include container(100%);
		}
	}

}

.product-info {
	@include span(8);
	@include container(100%);
}

.add-to-cart {
	@include span(8);
	padding: $padding;
	margin-top: $padding;
}

.shop-more {
	clear: both;
	display: block;
	margin: 0 auto;
	background: lighten($purple, 10%);
	padding: 20px;
	border: none;
	color: white;
	&:hover {
		background: darken($purple, 10%);
	}
}